<p style="color: green"><%= notice %></p>

<% content_for :title, "Items branches" %>

<h1>Items branches</h1>

<div id="items_branches">
  <% @items_branches.each do |items_branch| %>
    <%= render items_branch %>
    <p>
      <%= link_to "Show this items branch", items_branch %>
    </p>
  <% end %>
</div>

<%= link_to "New items branch", new_items_branch_path %>
