<% content_for :title, "New items branch" %>

<h1>New items branch</h1>

<%= render "form", items_branch: @items_branch %>

<br>

<div>
  <%= link_to "Back to items branches", items_branches_path %>
</div>
