<div id="<%= dom_id item %>">
  <p>
    <strong>F1:</strong>
    <%= item.f1 %>
  </p>

  <p>
    <strong>F2:</strong>
    <%= item.f2 %>
  </p>

  <p>
    <strong>F3:</strong>
    <%= item.f3 %>
  </p>

</div>
