<p style="color: green"><%= notice %></p>

<% content_for :title, "Items hists content" %>

<h1>Items history records</h1>

<table id="items_hists">

  <%= render partial: 'items_hist_hdr', locals: {hdrs: %W[ id f1 f2 f3 created_at updated_at op ]} %>

  <% @items_hists.each do |items_hist| %>
    <%= render items_hist %>
  <% end %>
</table>
